<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="icon" href="static/favicon.ico"> -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="icon" href="favicon.ico">
</head>
<body>
  <button onclick="f_get()">get</button>
  <button onclick="f_post()">post</button>
  <button onclick="f_login()">login</button>
  <button onclick="f_upload()">upload</button>
  <button onclick="f_getinfo()">getinfo</button>
  <button onclick="f_auth_code()">f_auth_code</button>

  <script src="js/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="js/test.js"></script>
</body>
</html>
